@media all and(max-width: 1000px){
  .top-wrapper h1{
    font-size: 60px;
  }

  .heading{
    font-size: 20px;
  }

  .lesson-wrapper li,p{
    font-size: 16px;
  }
}

@media all and(max-width: 670px){
  .top-wrapper h1{
    font-size: 50px;
  }

  .heading{
    font-size: 16px;
  }

  .lesson-wrapper li,p{
    font-size: 12px;
  }

  .top-wrapper{
    text-align: center;
  }
}
